@model Proiect_FlickR.Models.Picture

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>@Html.DisplayFor(model => model.Name)</h4>
        <hr />
        <dl class="dl-horizontal">
        
         

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Path)
            </dt>

            <dd>
                <a target="_blank" href="@Url.Content(Model.Path)">
                    <img class="img-responsive" src="@Url.Content(Model.Path)"  />
                </a>
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    <p>
        @using (Html.BeginForm(actionName: "Delete", controllerName: "Picture", method: FormMethod.Post, routeValues: new { id = @Model.Id }))
        {

        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <br />
        <button class="btn btn-success" type="submit">Sterge articol</button>

        }
    </p>
</body>
</html>
