@model Proiect_FlickR.Models.Picture

@{
    ViewBag.Titlu = "Editare Poza";
}

<h2>@ViewBag.Titlu</h2>

@using (Html.BeginForm("Edit", "Picture", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    <br />
    @Html.Label("Name", "Titlu Poza")
    <br />
    @Html.Editor("Name")
    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    <br />
    @Html.HiddenFor(m => m.Path)<br />
    <br />


    <button class="btn btn-sm btn-success" type="submit">Modifica poza</button>
}