

@{
    ViewBag.Title = "Index";
}

<br />
@using (Html.BeginForm("Index", "Picture", FormMethod.Get))
{
    @Html.TextBox("search")
    <label>Selectati categoria</label>
    @Html.DropDownList("category", new SelectList(ViewBag.Categories, "Value", "Text"),
        "Selectati categoria", new { @class = "form-control" })
    <button class="btn btn-sm btn-success" type="submit">Search</button>
}
<br />

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    

    @foreach (Proiect_FlickR.Models.Picture picture in ViewBag.Pictures)
    {
        <tr>
            <td>

                <img src="@Url.Content(picture.ThumbPath)" />
            </td>
            <td>
                @picture.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = picture.Id }) |
                @Html.ActionLink("Details", "Details", new { id = picture.Id })

            </td>
        </tr>
    }

</table>
