

@{
    ViewBag.Title = "I";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>

@using (Html.BeginForm("Index", "Picture", FormMethod.Get))
{
    <label> Search your pictures here: </label>
    @Html.TextBox("search")
    <!--<label>Selectati categoria</label>-->
    <br>
    @Html.DropDownList("category", new SelectList(ViewBag.Categories, "Value", "Text"),
        "Filter the pictures by category", new { @class = "form-control" })
    <button class="btn btn-sm btn-success" type="submit">Search</button>
}

<br />


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    

    @foreach (Proiect_FlickR.Models.Picture picture in ViewBag.Pictures)
    {
        <tr>
            <td>

                <img src="@Url.Content(picture.ThumbPath)" />
            </td>
            <td>
                @picture.Name
            </td>
            <td>
	           <i class="glyphicon glyphicon-user"></i> <i>articol scris de</i>
	           <strong> @picture.User.UserName </strong>

	      	</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = picture.Id }) |
                @Html.ActionLink("Details", "Details", new { id = picture.Id })

            </td>
        </tr>
    }

</table>
