
@{
    ViewBag.Title = "Afisare categorie";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h3>Poze</h3>
        <table>

            @foreach (Proiect_FlickR.Models.Picture picture in ViewBag.Pictures)
            {
                <tr>
                    <td>

                        <img src="@Url.Content(picture.Path)" height="42" width="42" />
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Picture", new { id = picture.Id }, null) |
                        @Html.ActionLink("Details", "Details", "Picture", new { id = picture.Id }, null)

                    </td>
                </tr>
            }

        </table>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = ViewBag.Pictures[0].Category.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
